// variables:
$color-barra: linear-gradient(270deg, #745ECE 0%, rgba(105, 72, 237, 0.41) 47.4%, #5E63C8 82.29%);
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

html {
  scroll-behavior: smooth;
  :root {
    --gray1: rgba(0, 0, 0, 0.5);
    --gray2: rgba(119, 119, 119, 0.05);
  }

  body {
    font-family: "Lato";
    margin: 0px;
    background: #ECE9E9;

   
  /* Rectangle 1 */
  .bg-mio{
    position: absolute;
    width: 1440px;
    height: 80px;
    background: $color-barra;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
  .logo{
      position: absolute;
      width: 100px;
      height: 60px;
      left: 100px;
      top: 8px;
      bottom: 12px;
      mix-blend-mode: normal;
      border-radius: 2px;
      }
      .form{
          position: absolute;
          width: 892px;
          height: 47px;
          right: 100px;
          left: 448px;
          top: 18px;
          background: #FFFFFF;

        .butn{
          width: 56px;
          height: 47px;
          left: 836px;
          top: 0px;
          background: #E5E5E5;
          border: 1px solid #C6C2C2;
          box-sizing: border-box;
          background-image:url("/img/search.png");
          background-repeat:no-repeat;
          background-position:center;
          background-size: 36px, 36px;
          }
              .form-control{
                right: 91px;
                align-self: center; 
                width: 792px;
                height: 30px;
                top: 9px;
                left: 9px;
                border: 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #D5C9C9;

                }

        }
        .butnfav{
          width: 44px;
          height: 40px;
          left: 1375px;
          top: 20px;
          background-color: transparentize(#FFFFFF,1 );
          background-image:url("/img/fav.png");
          background-repeat:no-repeat;

            }
            #products{
              position: relative;
              padding-top: 159px;
              padding-left: 100px;
              padding-right: 100px;
                .card{
                  position: absolute;
                  width: 1240px;
                  height: 221px;
                  background: #FFFFFF;
                  border: 1px solid rgba(0, 0, 0, 0.15);
                  box-sizing: border-box;
                  .carrd-body{
                  
                  }
              }

  }

 
}
}
  