// variables:
$color-barra: linear-gradient(270deg, #745ECE 0%, rgba(105, 72, 237, 0.41) 47.4%, #5E63C8 82.29%);
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
  }
  @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}

html {
  scroll-behavior: smooth;
  :root {
    --gray1: rgba(0, 0, 0, 0.5);
    --gray2: rgba(119, 119, 119, 0.05);
  }

  body {
    font-family: Lato;
    font-style: normal;
    margin: 0px;
    background: #ECE9E9;
    width: 1440px;
    height: 1024px;
    main,section{
        width: 1440px;
        height: 1024px;
      }
   
  /* Rectangle 1 */
  .bg-mio{
    position: absolute;
    width: 1440px;
    height: 80px;
    background: $color-barra;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
  .logo{
      position: absolute;
      width: 100px;
      height: 60px;
      left: 100px;
      top: 8px;
      bottom: 12px;
      mix-blend-mode: normal;
      border-radius: 2px;
      }
      .form{
          position: absolute;
          width: 892px;
          height: 47px;
          right: 100px;
          left: 448px;
          top: 18px;
          background: #FFFFFF;

        .butn{
          width: 56px;
          height: 47px;
          left: 836px;
          top: 0px;
          background: #E5E5E5;
          border: 1px solid #C6C2C2;
          box-sizing: border-box;
          background-image:url("/img/search.png");
          background-repeat:no-repeat;
          background-position:center;
          background-size: 36px, 36px;
          }
              .form-control{
                right: 91px;
                align-self: center; 
                width: 792px;
                height: 30px;
                top: 9px;
                left: 9px;
                border: 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #D5C9C9;

                }

        }
        .butnfav{
          width: 44px;
          height: 40px;
          left: 1375px;
          top: 20px;
          background-color: transparentize(#FFFFFF,1 );
          background-image:url("/img/fav.png");
          background-repeat:no-repeat;
          background-position:center;

            }


#products, #detail{
              position: relative;
              padding-top: 159px;
              padding-left: 100px;
              padding-right: 100px;
              .card{
                position: relative;
                width: 1240px;
                height: 221px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.15);
                box-sizing: border-box;
                display: inline-block;

              .card-image{
                position: relative;
                display: inline-block;
                width: 180px;
                height: 180px;
                left: 44px;
                top: 30px;
                bottom: 11px;
                right: 1016px;
                border-radius: 15px;
                 img{
                   position: relative;
                   width: 100%;
                   height: 100%;
                   vertical-align: top;
                   }
                }
              .card-content{
                position: relative;
                left: 124px;
                top: 17px;
                display: inline-block;
                .price{
                  width: 150px;
                  height: 35px;
                  display: inline-block;
                  font-weight: normal;
                  font-size: 24px;
                  line-height: 29px;
                  color: #000000;
                  }
                    .city{
                      display: inline-block;
                      width: 150px;
                      height: 35px;
                      font-weight: normal;
                      font-size: 14px;
                      line-height: 17px;
                      left: 513px;
                      color: #000000;
                      }
                      .model{
                        width: 500px;
                        height: 35px;
                        top: 112px;

                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 22px;
                        color: #000000;
                        }
                        .shipping{
                          width: 20px;
                          height: 20px;
                          border-radius: 20px;
                          bottom: 2px;
                          }
                
                }    

                  .shipping{
                    position: relative;
                    background-image: url("/img/ico_shipping.png");
                    background-repeat:no-repeat;
                    background-position:center;
                    background-size: 20px, 20px;
                    }
              
  }

.card-large{
width: 1240px;
height: 852px;
top: 0px;
position: relative;
display: inline-block;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.15);
box-sizing: border-box;
  
    .card-image-large{
                position: relative;
                display: inline-block;
                width: 563px;
                height: 520px;
                left: 50px;
                top: 54px;
                bottom: 278px;
                border-radius: 15px;
                vertical-align: top;
                 img{
                   position: relative;
                   width: 100%;
                   height: 100%;
                   vertical-align: top;
                   }
                }
  .card-buy-favs{
    font-style: normal;
    font-weight: normal;
    position: absolute;
    width: 312px;
    height: 35px;
    left: 878px;
    top: 0px;
    color: #000000;
    .usado-unid{
        position: relative;
        top: 54px;
        width: 312px;
        height: 35px;
        font-size: 14px;
        line-height: 17px;
        
        vertical-align: top;
      }
      .title{
        vertical-align: top;
        width: 312px;
        height: 31px;
        top: 120px;
        left: 0px;
        right: 50px;
        font-size: 24px;
        line-height: 29px;
        
        }
      .money{
        width: 312px;
        height: 33px;
        top: 177px;
        font-size: 24px;
        line-height: 29px;
        left: 0px;
        }
      .btn-addfav{
        width: 312px;
        height: 51px;
        left: 0px;
        top: 258px;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        background: #C968CB;
        border-radius: 20px;

        }
        .btn-cart{
        width: 312px;
        height: 51px;
        left: 0px;
        top: 327px;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        background: #8C86D7;
        border-radius: 20px;
          
          
          }

        


    }
  .card-description{
    position: relative;
    top: 23px;
    .desc-title{
      width: 312px;
      height: 31px;
      left: 50px;
      top: 23px;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 34px;
      color: #000000;
      
      }
        .text-p{
            position: relative;
            font-style: Regular;
            font-size: 14px;
            top:77px;
            left:50px;
            line-height: 17px;
            line-height: 100%;
            align: justify;
            vertical-align: top;
            color: #B8ACAC;
            width: 828px;
            height: 170px;
          }

    }    

  }
 
}
            
}
  
}
  